.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:white;

	position: absolute;
	top:0;
	left: 0;
}

.header{

	position: fixed;
	top:0;
	left: 300px;
	
}

img{
	width: 250px;
}

.content{
	width: 70%;
	position: fixed;
	top: 150px;
	left: 300px;
}

.image{
	
	float: left;
	margin-right: 20px;
}

.main{

	width: 50%;
  float: left;
  position: relative;
  top: 350px;
	

	
	
}

.title{
	position: fixed;
	top: 0;
	left: 600px;
	width: 500px;
}
.head{
	position: fixed;
	bottom: 10px;
	left: 50%;
}

div:last-of-type{
	position: fixed;
	bottom: 0px;
}

.header::after{
	color: blue;
	content: "mühendislik ve doğa bilimleri fakültesi  ";
	font-size: large;
}

.header::after::after{
	content:"Bilgisayar Mühendisliği Bölümü";
	font-size: medium;
	color: blue;
}