form {
    display: table;
    width: 100%;
  }
  
  label,
  input[type="text"],
  input[type="email"],
  input[type="url"] {
    display: table-row;
  }
  
  label,
  input[type="text"],
  input[type="email"],
  input[type="url"] {
    display: table-cell;
    padding: 5px;
  }
  
  label {
    text-align: right;
  }
  