form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    display: inline;
    width: 150px;
    text-align: right;
    margin-right: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="url"] {
    width: 300px;
    box-sizing: border-box;
  }
  